<article class="container">
    <h1 class="mb-4">Quiénes somos?</h1>
    <p class="lead mb-4">
      GlobalCarExport es una empresa familiar con más de 5 años de experiencia en la venta de autos usados en la CA-13 de Tela Atlántida, cerca del antiguo hospital en Honduras. Estamos orgullosos de ofrecer a nuestros clientes una selección diversa de vehículos de alta calidad a precios competitivos.
    </p>
    <div class="image-container"></div> <!-- Contenedor de la imagen de fondo -->
</article>
  