<div class="container">

  <h1>Servicios</h1>

<div id="carouselExampleDark" class="carousel carousel-dark slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <div id="img1" class="d-block w-100 carousel-image"></div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <div id="img2" class="d-block w-100 carousel-image"></div>
    </div>
    <div class="carousel-item">
      <div id="img3" class="d-block w-100 carousel-image"></div>
    </div>
    <div class="carousel-item">
      <div id="img4" class="d-block w-100 carousel-image"></div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<p class="fs-5 lh-lg">
  GlobalCarExport es su destino confiable para comprar e importar vehículos de calidad en todo el mundo. Contamos con una amplia gama de vehículos de las mejores marcas y modelos, ofreciendo una experiencia de compra sin complicaciones y excelentes servicios de importación. Nuestra plataforma de expertos y equipo profesional lo ayudarán a encontrar el vehículo perfecto y acelerarán el proceso de importación para garantizar una entrega segura y oportuna a su país. Confíe en GlobalCarExport para ayudarle a hacer realidad su sueño de tener un automóvil de alta calidad en cualquier parte del mundo.
</p>



<h2 class="acta-header">ACTA DE COMPROMISO</h2>
    <!-- Políticas de Compra -->
    <div class="politicas">
      <h3>Políticas de Compra de Vehículos de Inversiones Múltiples y Transportes Villanueva:</h3>
      <ol>
        <li><strong>Descripción del Vehículo:</strong> Se detallan las características del vehículo vendido, incluyendo marca, año, tipo, cilindraje, placa, modelo, color, motor, serie y chasis.</li>
        <li><strong>Trámite de Cambio de Propietario:</strong> El comprador se compromete a realizar el trámite de cambio de propietario de manera inmediata, salvo en casos de fuerza mayor, bajo la amenaza de un bloqueo o descargo del vehículo en el sistema de registro de propiedad. El incumplimiento puede resultar en una multa de Lps. 30,000.00.</li>
        <li><strong>Exoneración de Responsabilidad:</strong> El comprador exonera a Inversiones Múltiples y Transportes Villanueva de cualquier responsabilidad legal derivada de los actos civiles, penales o de cualquier índole relacionados con el vehículo vendido.</li>
        <li><strong>Garantía y Reclamos:</strong> El comprador tiene 24 horas para revisar y probar el vehículo, después de las cuales no se aceptarán reclamos relacionados con problemas mecánicos o estéticos.</li>
        <li><strong>Problemas Mecánicos:</strong> En caso de problemas mecánicos graves dentro de las primeras 24 horas, el vendedor se compromete a reparar el vehículo, pero no a devolver el dinero. Si el comprador desea la devolución, deberá pagar el 25% del valor total del vehículo por retracto y gastos administrativos.</li>
        <li><strong>Responsabilidad del Conductor:</strong> El comprador asume toda la responsabilidad por mal manejo, negligencia o daños causados por el vehículo una vez adquirido.</li>
        <li><strong>Devolución y Retracto:</strong> En caso de devolución por retracto u otras razones que no sean garantía, el comprador deberá pagar el porcentaje acordado independientemente del tiempo transcurrido desde el cierre del trato.</li>
        <li><strong>Aceptación de Condiciones:</strong> Ambas partes firman el acta de compromiso como constancia de aceptación y cumplimiento de las condiciones establecidas.</li>
      </ol>
    </div>

</div>

